body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

article {
    margin: auto;
    max-width: 800px;
}

.progress {
    background-color: turquoise;
    height: 3px;
    position: fixed;
    left: 0;
    top: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
}
